<div class="home__container">
  <app-card 
    gameCover="assets/bt-1.jpg"
    gameLabel= "DIGITAL"
    gameType="PS4"
    gamePrice="R$ 99,90"
    >
  </app-card>
  <app-card 
    gameCover="assets/bt-4.jpg"
    gameLabel= "EXCLUSIVE"
    gameType="PS4"
    gamePrice="R$ 299,90"
  >
  </app-card>

  <app-card 
    gameCover="assets/bt-5.jpg"
    gameLabel= "DIGITAL"
    gameType="PS4"
    gamePrice="R$ 399,90"
  >
  </app-card>

  <app-card 
  gameCover="assets/bt-bad-company-2.jpg"
  gameLabel= "DIGITAL"
  gameType="PS4"
  gamePrice="R$ 149,90"
>
</app-card>

<app-card 
gameCover="assets/bt-hardline.jpg"
gameLabel= "DIGITAL"
gameType="PS4"
gamePrice="R$ 249,90"
>
</app-card>

<app-card 
gameCover="assets/ac-cover.jpg"
gameLabel= "DIGITAL"
gameType="PS4"
gamePrice="R$ 249,90"
>
</app-card>
</div>